#background-section {
  background-color : #222831;
  text-align: center;
  justify-content: center;

}

#background-section-1 {
  background-color : #222831;
  /* height: 700px; */
}

body{
  font-family:"ubuntu";
}

#background-section-2{
  background-color: #f4f6ff;
  text-align: center;
/* height: 700px; */

}

.user_name{
 font-family: 'Merienda', cursive;
 font-size: 4rem;
 line-height: 1;
 color: #c7e2b2;


}

/* .navbar{
  padding: 3rem 0 4.5rem 3rem;

} */
.user_passion{
  color: #eedad1;
  font-family: 'Norican', cursive;
  /* margin-left: 20%; */
}
.fas{
  padding-right: 0.5rem;
}
.fab{
  padding-right: 0.5rem;
}


.navbar-brand{
  font-weight: bold;
  font-size: 2.5rem;
  font-family:  'Cabin Sketch', cursive;
  /* padding-right: 4rem; */
}


.btn{
  color: #e1ffc2;

}
.Summary-card-text{
  padding-left: 5%;
}
.Summary-card-header{

  border-color:  #e1ffc2;

}
.Summary-card-body{
  border-color:  #e1ffc2;
}

.Summary-container{

    padding-left: 15%;
    padding-right: 13%;
    padding-top: 8%;
    padding-bottom: 8%;



}
.Summary-font{
  font-family: 'Acme', sans-serif;
  font-size:1.6rem;
}

.Education{
  text-align: center;
  color: #e1ffc2;
  font-size: 3.5rem;
  font-family: 'Lobster', cursive;
  padding-top: 3%
}

.Education-container{
   padding: 6% 8% 10% 10%;
}
.Education-tab{
  padding-top: 2%;

}
.Education-col{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  color: #e0dede;
  line-height: 2;
}
.Skills-content{
  padding-left: 25%;
  padding-right: 15%;
  padding-top: 8%;
  padding-bottom:5%;
}
.skills-col-0{
  color: #511845;
  font-family: 'Patua One', cursive;
  font-size: 2.3rem;
  line-height: 2.5;
}
.skills-col-1{
  color: #fb7b6b;
  font-size: 2rem;
  line-height: 2.5;
}
.Skills{
  color: #6a197d;
  font-size: 3.6rem;
  font-family: 'Lobster', cursive;
  padding-left: 36%;
}
/* .project-pane{
  width: 1000px;
  padding-left: 0.5%;
} */
/* .website{
  padding-left: 60%;
  padding-top: 10%;
  padding-bottom: 15%;
} */
.hackathons{


  color: #6a197d;
  font-size: 3.6rem;
  font-family: 'Lobster', cursive;
  padding-top: 2rem;

}
.hackathon-list{
  color: #222831;
  font-size: 1.6rem;
}
.hackathon-row{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  color: #6a197d;
}
.hackathon-col{

}
.certificate{
  text-align: center;
  color: #e1ffc2;
  font-size: 3.5rem;
  font-family: 'Lobster', cursive;
}
.certificate-row{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  color: #6a197d;
}
.certificate-col{
  padding: 5%;
}
